[Unit]
Description=Clean up old files in Download and Screenshots

[Service]
Type=oneshot
ExecStart=%h/.local/bin/cleanup-files
Nice=19
IOSchedulingClass=idle
