[data]
font_family = "CascadiaMonoNF"
{{- if eq .chezmoi.username "work" }}
email = "t.sitnikov@infocom-s.ru"
font_size = 12
font_size_rofi = 16
font_size_notyfication = 14
{{- else }}
email = "tima.sitnikov@mail.ru"
font_size = 10
font_size_rofi = 14
font_size_notyfication = 12
{{- end }}
catppuccin_flavor = "mocha"
catppuccin_accent = "mauve"
