# Catppuccin Themes
[".config/zellij/themes/catppuccin.kdl"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zellij/refs/heads/main/catppuccin.kdl"
    refreshPeriod = "168h"

[".profile.d/fzf-theme.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/fzf/refs/heads/main/themes/catppuccin-fzf-{{ .catppuccin_flavor }}.sh"
    refreshPeriod = "168h"

[".config/btop/themes/catppuccin_mocha.theme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/btop/refs/heads/main/themes/catppuccin_mocha.theme"
    refreshPeriod = "168h"

[".config/bat/themes/Catppuccin Mocha.tmTheme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/refs/heads/main/themes/Catppuccin%20Mocha.tmTheme"
    refreshPeriod = "168h"

[".config/git/catppuccin.gitconfig"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/delta/refs/heads/main/catppuccin.gitconfig"
    refreshPeriod = "168h"

[".config/atuin/themes/catppuccin-{{ .catppuccin_flavor }}-{{ .catppuccin_accent }}.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/atuin/refs/heads/main/themes/{{ .catppuccin_flavor }}/catppuccin-{{ .catppuccin_flavor }}-{{ .catppuccin_accent }}.toml"
    refreshPeriod = "168h"

[".local/share/icons"]
    type = "archive"
    url = "https://github.com/catppuccin/cursors/releases/latest/download/catppuccin-{{ .catppuccin_flavor }}-{{ .catppuccin_accent }}-cursors.zip"
    refreshPeriod = "744h"

[".local/share/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/gtk/releases/latest/download/catppuccin-{{ .catppuccin_flavor }}-{{ .catppuccin_accent }}-standard+default.zip"
    refreshPeriod = "744h"

[".var/app/com.obsproject.Studio/config/obs-studio"]
    type = "archive"
    url = "https://github.com/catppuccin/obs/archive/refs/heads/main.zip"
    refreshPeriod = "744h"
    stripComponents = 1
    include = ["*/themes/*"]

[".config/joplin-desktop/userchrome-main.css"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/joplin/refs/heads/main/src/mocha/userchrome.css"
    refreshPeriod = "744h"
[".config/joplin-desktop/userstyle-main.css"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/joplin/refs/heads/main/src/mocha/userstyle.css"
    refreshPeriod = "744h"

# Fonts
[".local/share/fonts/fira-code"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraCode.zip"
    exact = false
    refreshPeriod = "744h"
    include = ["**/*.ttf"]

[".local/share/fonts/FontAwesome"]
    type = "archive"
    url = "https://use.fontawesome.com/releases/v7.0.0/fontawesome-free-7.0.0-desktop.zip"
    stripComponents = 2
    refreshPeriod = "744h"
    include = ["**/*.otf"]
[".local/share/fonts/FontAwesomeLTS"]
    type = "archive"
    url = "https://use.fontawesome.com/releases/v5.15.4/fontawesome-free-5.15.4-desktop.zip"
    stripComponents = 2
    refreshPeriod = "744h"
    include = ["**/*.otf"]

# Wallpaper
[".wallpaper"]
    type = "file"
    url = "https://github.com/My-declarative-PC/wallpapers/blob/master/evening-sky.png?raw=true"
    refreshPeriod = "744h"

# Utils
[".local/bin/greenclip"]
    type = "file"
    executable = true
    url = "https://github.com/erebe/greenclip/releases/latest/download/greenclip"
    refreshPeriod = "744h"

[".local/bin/caligula"]
    type = "file"
    executable = true
    url = "https://github.com/ifd3f/caligula/releases/latest/download/caligula-x86_64-linux"
    refreshPeriod = "744h"

[".local/bin/ronema"]
    type = "file"
    executable = true
    url = "https://raw.githubusercontent.com/P3rf/rofi-network-manager/refs/heads/master/src/ronema"
    refreshPeriod = "744h"

[".local/bin/phpactor"]
    type = "file"
    executable = true
    url = "https://github.com/phpactor/phpactor/releases/latest/download/phpactor.phar"
    refreshPeriod = "744h"
