{{ $hasGUI := promptBoolOnce . "hasGUI" "Does this machine have a GUI" }}
{{ $isHome := promptBoolOnce . "isHome" "Does this machine in home" }}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1am8j03dq5fmd97y78hzyuulnja9uraxm29zmzheyjf8mpqmq9vdspar3hg"

[data]
# machine
hasGUI = {{ $hasGUI }}
isHome = {{ $isHome }}
# fotn
font_family = "FiraCode Nerd Font"
font_size = 10
font_size_rofi = 14
font_size_notyfication = 12
# theme
icon_theme = "Papirus"
catppuccin_flavor = "mocha"
catppuccin_accent = "mauve"
# identety
{{- if $isHome }}
email = "tima.sitnikov@mail.ru"
{{- else }}
email = "t.sitnikov@infocom-s.ru"
{{- end }}
