[submodule "nvim"]
	path = nvim
	url = https://github.com/ImperatorMarsa/nvim-config.git
[submodule "fish"]
	path = fish
	url = https://github.com/ImperatorMarsa/fish-config.git
[submodule "lsd"]
	path = lsd
	url = https://github.com/ImperatorMarsa/lsd-config.git
