[submodule "nvim"]
	path = nvim
	url = https://github.com/ImperatorMarsa/nvim-config.git
[submodule "fish"]
	path = fish
	url = https://github.com/ImperatorMarsa/fish-config.git
[submodule "lsd"]
	path = lsd
	url = https://github.com/ImperatorMarsa/lsd-config.git
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/ImperatorMarsa/wezterm-config.git
[submodule "helix"]
	path = helix
	url = https://github.com/ImperatorMarsa/helix-config.git
[submodule "starship"]
	path = starship
	url = https://github.com/ImperatorMarsa/starship-config.git
[submodule "firefox"]
	path = firefox
	url = https://github.com/ImperatorMarsa/firefox-config.git
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/ImperatorMarsa/PowerShell-config.git
