[submodule "nvim"]
	path = nvim
	url = https://github.com/My-declarative-PC/nvim-config.git
[submodule "fish"]
	path = fish
	url = https://github.com/My-declarative-PC/fish-config.git
[submodule "lsd"]
	path = lsd
	url = https://github.com/My-declarative-PC/lsd-config.git
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/My-declarative-PC/wezterm-config.git
[submodule "helix"]
	path = helix
	url = https://github.com/My-declarative-PC/helix-config.git
[submodule "starship"]
	path = starship
	url = https://github.com/My-declarative-PC/starship-config.git
[submodule "firefox"]
	path = firefox
	url = https://github.com/My-declarative-PC/firefox-config.git
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/My-declarative-PC/PowerShell-config.git
[submodule "nu"]
	path = nu
	url = https://github.com/My-declarative-PC/nu-config.git
[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/My-declarative-PC/wallpapers.git
