@import url("zen-browser/themes/Mocha/Mauve/userContent.css");

/* Шрифт всего UI Firefox */
* {
    font-family:
        "{{ .font_family }}",
        "Font Awesome 5 Free",
        "Font Awesome 6 Free",
        "Material Icons",
        "Material Symbols Outlined",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif !important;
}
