layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    tab name="git" {
        pane command="lazygit"
    }
    tab name="dev" {
        pane command="hx"
    }
    tab name="console" { }
}
