file://{{ .chezmoi.homeDir }}/Downloads
file://{{ .chezmoi.homeDir }}/Documents
file://{{ .chezmoi.homeDir }}/Music
file://{{ .chezmoi.homeDir }}/Videos
file://{{ .chezmoi.homeDir }}/Pictures
file://{{ .chezmoi.homeDir }}/gits
file://{{ .chezmoi.homeDir }}/Yandex.Disk
{{- if .isHome }}
smb://192.168.10.1/external Lil BackUps
{{- else }}
smb://storage/1c-builds/ 1C builds
sftp://mpu_web/var/www/lk_test/www mpu web (ssh)
smb://storage/1c-portal/%D0%9F%D0%B0%D1%82%D1%87%D0%B8/%D0%9F%D0%B0%D1%82%D1%87%D0%B8%20%D0%9B%D0%9A Патчи ЛК
smb://storage/1c-portal/%D0%A0%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0%20%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%B0/!%D0%A0%D0%B5%D0%BB%D0%B8%D0%B7%D1%8B/%D0%A1%D0%B1%D0%BE%D1%80%D0%BA%D0%B0%20%D1%80%D0%B5%D0%BB%D0%B8%D0%B7%D0%B0%20%D0%9F%D0%BE%D1%80%D1%82%D0%B0%D0%BB%D0%B0%20%D0%B2%D1%83%D0%B7%D0%B0 Сборка релиза ЛК
{{- end }}
