[global]
    width = (300, 600)
    height = (50, 220)
    offset = (10, 10)
    origin = bottom-right
    format = "<b>%s</b>\n%b\n\n<u><i>%a</i></u>"
    follow = mouse
    corner_radius = 0
    progress_bar_corner_radius = 0
    progress_bar_max_width = 600
    progress_bar_height = 15
    font = "{{ .font_family }} {{ .font_size_notyfication }}"
    separator_color= frame
    background  = "#1e1e2e"
    notification_limit = 0
    enable_recursive_icon_lookup = true
    icon_theme = "{{ .icon_theme }}"
    vertical_alignment = center
    browser = flatpak run app.zen_browser.zen -new-tab
    mouse_left_click = close_current
    mouse_middle_click = do_action, close_current
    mouse_right_click = close_all

[urgency_low]
    timeout = 3
    foreground  = "#89dceb"
    frame_color = "#6c7086"

[urgency_normal]
    timeout = 10
    foreground  = "#cdd6f4"
    frame_color = "#cba6f7"

[urgency_critical]
    timeout = 0
    foreground  = "#fab387"
    frame_color = "#f38ba8"

[music]
    appname = "music"
    min_icon_size = 100
    max_icon_size = 120

[cassette]
    summary = "Playing now"
    skip_display = true
    history_ignore = true
    script = ~/.local/bin/volume_brightness
