# Use the color palette
palette = "catppuccin_mocha"

format = """
$os${custom.distrobox} ([($username)($sudo)($hostname)](bg:surface0) )$directory( $direnv)( $cmd_duration)\
(
[  ](bg:surface0 fg:text) $git_branch$git_metrics $git_status\
)
([ $shell](bg:surface0) )[$status](bg:surface0) \
"""

[username]
show_always = true
style_user = "bg:surface0 fg:text"
style_root = "bg:red fg:text"
format = "[ $user ]($style)"
disabled = false

[hostname]
ssh_symbol = "[](bg:surface0 fg:sky)"
ssh_only = true
style = "bg:surface0 fg:maroon"
format = "[on $ssh_symbol [$hostname](bg:surface0 fg:red bold) ]($style)"
disabled = false

[os]
style = "bg:surface0 fg:text"
disabled = false
format = "[ $symbol ]($style)"
[os.symbols]
Alpine = ""
Android = ""
Arch = ""
Debian = ""
Fedora = ""
Linux = ""
Mint = ""
openSUSE = ""
Ubuntu = ""
Unknown = ""

[sudo]
style = "bg:surface0 fg:pink bold"
symbol = ""
disabled = false
allow_windows = true
format = "[as $symbol ]($style)"

[directory]
style = "bg:surface0 fg:lavender"
before_repo_root_style = "bg:surface0 fg:blue italic"
repo_root_style = "bg:surface0 fg:flamingo"
read_only_style = "bg:surface0 fg:red"
format = "[ $read_only]($read_only_style)[$path ]($style)"
repo_root_format = "[ $read_only]($read_only_style)[$before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[$path ]($style)"
truncation_length = 5
truncation_symbol = "…/"
truncate_to_repo = false
read_only = "󰌾"
home_symbol = ""

[directory.substitutions]
".config" = "."
"Documents" = "󰈙"
"Downloads" = ""
"wgits" = ""
"gits" = ""
"home/" = "/"
"Music" = ""
"Pictures" = ""

[git_branch]
style = "bg:surface0 fg:rosewater"
format = "[ $branch ]($style)"

[git_status]
style = "bg:surface0 fg:flamingo"
conflicted = "[󰞇](bg:surface0 fg:red) "
up_to_date = "[](bg:surface0 fg:green) "
untracked = "[](bg:surface0 fg:overlay1) "
stashed = " "
modified = "󱓥 "
staged = "[󱫉\\($count\\)](basen) "
renamed = " "
deleted = " "
ahead = "[](bg:surface0 fg:green)${count} "
diverged = "[](bg:surface0 fg:green)${ahead_count}[](bg:surface0 fg:red)${behind_count} "
behind = "[](bg:surface0 fg:red)${count} "
format = "[ $all_status$ahead_behind]($style)"

[git_metrics]
disabled = false
deleted_style = "bg:surface0 fg:red"
added_style = "bg:surface0 fg:green"
format = "([$added ]($added_style))([$deleted ]($deleted_style))"

[cmd_duration]
min_time = 1_000
min_time_to_notify = 30_000
show_milliseconds = true
disabled = false
style = "bg:surface0 fg:teal"
show_notifications = true
format = "[ 󰅒 $duration ]($style)"

[status]
disabled = false
symbol = "[ 󰚌 ](bg:red fg:base)"
success_symbol = "[  ](bg:surface0 fg:green)"
format = "[$symbol]($style)"

[shell]
style = "bg:surface0"
cmd_indicator = "[](bg:surface0 fg:yellow)"
bash_indicator = "[](bg:surface0 fg:green)"
fish_indicator = "[󰈺](bg:surface0 fg:teal)"
unknown_indicator = "[](bg:surface0 fg:red)"
disabled = false

[direnv]
disabled = false
style = "bg:surface0 fg:yellow"
symbol = "."
allowed_msg = ""
not_allowed_msg = ""
denied_msg = ""
loaded_msg = ""
unloaded_msg = ""
detect_files = [ ".envrc" ]
format = "[ $symbol $loaded/$allowed ]($style)"

[custom.distrobox]
disabled = false
description = "Indicate if inside distrobox"
when = "test -f /run/.containerenv || test -f /.dockerenv"
command = "echo \" [$CONTAINER_ID]\""
style = "bg:surface0 fg:mauve"
format = "[in ](bg:surface0 fg:text)[$output ]($style)"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
