set $bg       #1e1e2e
set $bg-dim   #585b70
set $fg       #cdd6f4
set $fg-dim   #585b70
set $accent   #11111b
set $urgent   #f38ba8

set $font {{ .font_family }} {{ .font_size }}

bar {
    output   primary
    font     pango: $font
    position top

    workspace_buttons    yes
    strip_workspace_name no
    tray_output          primary
    tray_padding         0

    status_command i3status-rs

    colors {
        background $bg
        statusline $fg
        separator  $accent

        focused_workspace  $accent  $accent  $fg
        active_workspace   $bg      $accent  $fg
        inactive_workspace $bg      $bg      $fg-dim
        urgent_workspace   $urgent  $urgent  $fg
        binding_mode       $urgent  $urgent  $fg
    }
}

bar {
    output   nonprimary
    font     pango: $font
    position top

    workspace_buttons    yes
    strip_workspace_name no
    tray_output          none

    colors {
        background $bg
        statusline $fg
        separator  $accent

        focused_workspace  $accent  $accent  $fg
        active_workspace   $bg      $accent  $fg
        inactive_workspace $bg      $bg      $fg-dim
        urgent_workspace   $urgent  $urgent  $fg
        binding_mode       $urgent  $urgent  $fg
    }
}
